@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<DirectorMessageDetail>
<form action="DirectorMessage" method="post" enctype="multipart/form-data">
    <input type="hidden" id="hiddenId" name="Id" />
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Director Message</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Director Message</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Director's name</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-in">
                                                            <input type="text" id="Directorname" name="Directorname" class="form-control" placeholder="Director's name" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-user-secret"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Director's Designation</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-in">
                                                            <input type="text" id="Directordesignation" name="Directordesignation" class="form-control" placeholder="Director's Designation" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-user-secret"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-2 control-label">Message</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-icon">
                                                            <textarea id="Message" class="form-control" rows="5" placeholder="Director's Message" name="Message" required></textarea>
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-map"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <div class="form-group">
                                                        <div class="form-group mt-lg">
                                                            <label class="col-sm-4 control-label">Upload Director's Image </label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group input-group-icon">
                                                                    <input type="file" name="DirectorFile" id="DirectorFile" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="panel" data-fill-color="true">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th colspan="10">Director's Message Detail</th>
                                            </tr>
                                            <tr class="active">
                                                <th style="width:10%">Sl.no</th>
                                                <th style="width:10%">Director's Name</th>
                                                <th style="width:20%">Designation</th>
                                                <th colspan="3" style="width:25%">Message</th>
                                                <th colspan="3" style="width:25%">Message</th>
                                                <th style="width:10%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var message in Model)
                                                {
                                                    <tr>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center"><strong>@i</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">@message.Name</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:20%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">@message.Designation</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td colspan="3" style="width:25%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">
                                                                        @(message.Message.Length > 100 ? message.Message.Substring(0, 200) : message.Message)
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td colspan="3" style="width:25%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">
                                                                        @{
                                                                            var base64 = Convert.ToBase64String(message.Photo);
                                                                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                                            <img src="@imgsrc" alt="Director Image" class="img-responsive galimg" style="height:100px;width:100px;" />
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                                    <a id="lnkEdit" class="btn btn-primary" onclick="javascript:EditDirectorDetail(@message.Id,'@message.Name','@message.Designation','@message.Message','@imgsrc')" href="#">Edit</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    i = i + 1;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel -->
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>

<script type="text/javascript">
    function RemoveFile() {
        $('#DirectorFile').removeClass('hidden');
        $('#DirectorFile').parent().find('a').remove();
        $('#DirectorFile').attr('required');
        return false;
    }
    function EditDirectorDetail(Id, name, designation, message, imgsrc) {
        $('#DirectorFile').parent().find('a').remove();
        $('#hiddenId').val(Id);
        $('#btnSave').val('Update');
        $('#Directorname').val(name);
        $('#Directordesignation').val(designation);
        $('#Message').html(message);
        $('#DirectorFile').addClass('hidden');
        $('#DirectorFile').removeAttr('required');

        var html = "<a><img src='" + imgsrc + "' alt='Director Image' class='img-responsive galimg' style='height:100px;width:100px;'/></a><a href='javascript:void(0)' onclick='javascript:return RemoveFile()' style='color:red;padding-left:7px;'>X</a>";
        $(html).insertAfter('#DirectorFile');
    }
</script>