@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var registration = ViewData["JobRegistrationDetail"] as JobRegistration;
    if (registration != null)
    {
        <section class="content-wrapper" role="main">
            <div class="content">
                <div class="content-hero content-hero-lg">
                    <img class="content-hero-embed" src="../images/dummy/people4.jpg" alt="cover">
                    <div class="content-hero-overlay bg-grd-blue"></div>
                    <div class="content-hero-body">
                    </div>
                    <div class="content-hero-bar">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="float-bar clearfix">
                                    <div class="col-sm-8">
                                        <div class="visible-xs">
                                            <h2 class="display-name media-heading text-teal"><i class="fa fa-user"></i>@registration.Name</h2>
                                            <p class="text-muted mb-4x"><span class="mr-2x"><i class="fa fa-envelope"></i>@registration.EmailId</span> <span><i class="fa fa-mobile"></i>@registration.MobileNo</span></p>
                                        </div>
                                        <div class="hidden-xs">
                                            <h1 class="media-heading text-light">@registration.Name</h1>
                                            <p class="mb-4x text-light"><span class="mr-2x"><i class="fa fa-envelope"></i>@registration.EmailId</span> <span><i class="fa fa fa-mobile"></i> @registration.MobileNo</span></p>
                                        </div>
                                    </div><!-- /.media-body -->
                                </div><!-- /.float-bar -->
                            </div><!-- /.cols -->

                            <div class="col-lg-12">
                                <h4 class="text-muted"><a href="/Admin/Dashboard" aria-label="home"><i class="fa fa-home"></i></a> / <a href="/Admin/JobPortalRegistrationList" aria-label="home">Job Portal Registration List</a> / Job Portal Registration Detail</h4>
                            </div><!-- /.cols -->

                        </div><!-- /.row -->
                    </div><!-- /.content-hero-bar -->
                </div><!-- /.content-hero -->
                <div class="content-body">

                    <!-- ============================================
                    LATEST POSTS LIST
                    =============================================== -->
                    <div class="panel" data-fill-color="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="table-hover table-bordered bg-primary">
                                                <th colspan="8">Job Portal Registration List Detail</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p>Full Name</p>
                                                        <span class="headline"><strong>@registration.Name</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Father Name</p>
                                                        <span class="headline"><strong>@registration.FatherName</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Mother Name</p>
                                                        <span class="headline"><strong>@registration.MotherName</strong></span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p>Date of Birth</p>
                                                        <span class="headline"><strong>@registration.DOB.Value.ToString("dd/MM/yyyy")</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Gender</p>
                                                        <span class="headline"><strong>@registration.Gender</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Marital Status</p>
                                                        <span class="headline"><strong>@registration.MaritalStatus</strong></span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p>Religion</p>
                                                        <span class="headline"><strong>@registration.Religion</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Identity Details</p>
                                                        <span class="headline"><strong>@registration.IdentityType</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Identity Number</p>
                                                        <span class="headline"><strong>@registration.IdentityNo</strong></span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p>Mobile No</p>
                                                        <span class="headline"><strong>@registration.MobileNo</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Alternate No</p>
                                                        <span class="headline"><strong>@registration.AlternateNo</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>Email Id</p>
                                                        <span class="headline"><strong>@registration.EmailId</strong></span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p>Pin Code</p>
                                                        <span class="headline"><strong>@registration.Pincode</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>State Name</p>
                                                        <span class="headline"><strong>@registration.State.StateName</strong></span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p>City Name</p>
                                                        <span class="headline"><strong>@registration.City.CityName</strong></span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">   
                                                    <div class="col-xs-6">
                                                        <p>Resume</p>
                                                        <span class="headline">
                                                            <strong>
                                                                <a href="~/Admin/ViewResumePdf?Id=@registration.Id" id="_view" target="_blank" class="btn btn-primary">View</a>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p>Image</p>
                                                        <span class="headline">
                                                            <strong>
                                                                <a href="~/Admin/ViewCandidateImage?Id=@registration.Id" id="_view" target="_blank" class="btn btn-primary">View</a>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <hr class="col-md-10" />
                                                <div class="clearfix"></div>
                                            </div>
                                        </div><!-- /.cols -->
                                    </div>
                                </div><!-- /.row -->

                            </div><!-- /.panel-body -->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="bg-primary">
                                                    <th colspan="6">Qualification (Please Enter Highest to Lowest Qualification)</th>
                                                </tr>
                                                <tr class="active">
                                                    <th>Qualification</th>
                                                    <th>Board/Institute/University</th>
                                                    <th>Years Of Passing</th>
                                                    <th>% Marks</th>
                                                    <th>Specialization</th>
                                                    <th>Course type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (registration.JobRegistrationQualifications.Any())
                                                {
                                                    foreach (var qualification in registration.JobRegistrationQualifications)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.Qualification</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.Board</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.YearOfPassing</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.Marks</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.Specialization</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@qualification.CourseType</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="6">
                                                            No Qualification added
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="bg-primary">
                                                    <th colspan="6">Present Employment Status</th>
                                                </tr>
                                                <tr class="active">
                                                    <th>Name Of Organization</th>
                                                    <th>Post Held</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Industry type</th>
                                                    <th>Salary Drawn(PM)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (registration.JobRegistrationEmployements.Any())
                                                {
                                                    foreach (var employement in registration.JobRegistrationEmployements)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@employement.OrganizationName</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@employement.Post</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group mt-lg">
                                                                            <span class="headline"><strong>@employement.FromMonth</strong></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group mt-lg">
                                                                            <span class="headline"><strong>@employement.FromYear</strong></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group mt-lg">
                                                                            <span class="headline"><strong>@employement.ToMonth</strong></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group mt-lg">
                                                                            <span class="headline"><strong>@employement.ToYear</strong></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <span class="headline"><strong>@employement.IndustryType</strong></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group mt-lg">
                                                                    <div class="input-group input-group-icon">
                                                                        <span class="headline"><strong>@employement.Salary</strong></span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="6">
                                                            No Employement detail added
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-6 control-label">Language Known</label>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        
                                                        @if (registration.JobRegistrationLanguages.Any())
                                                        {
                                                            string lan = string.Empty;
                                                            foreach (var languages in registration.JobRegistrationLanguages)
                                                            {
                                                                lan += languages.Language + ", ";
                                                            }
                                                            lan = lan.Substring(0, lan.Length - 2);
                                                            <strong>@lan</strong>
                                                        }
                                                        else
                                                        {
                                                            <span>No Language added</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-6 control-label">Skill Information</label>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        @if (registration.JobRegistrationSkills.Any())
                                                        {
                                                            string skl = string.Empty;
                                                            foreach (var skill in registration.JobRegistrationSkills)
                                                            {
                                                                skl += @skill.Skill + ", ";
                                                            }
                                                            skl = skl.Substring(0, skl.Length - 2);
                                                            <strong>@skl</strong>
                                                        }
                                                        else
                                                        {
                                                            <span>No Skill added</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mt-lg collapse" id="field" aria-expanded="false">
                                                <div class="input-group input-group-icon">
                                                    <span class="headline"><strong>@registration.Name</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-6 control-label">Experience in Works </label>
                                                <div class="col-sm-6">
                                                    <span class="headline"><strong>@registration.Experience</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-6 control-label">Are you Person with disabilities </label>
                                                <div class="col-sm-6">
                                                    @{
                                                        if (registration.Disability == true)
                                                        {
                                                            <span>Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <strong>No</strong>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-3 control-label">Are You Ex-Serviceman </label>
                                                <div class="col-sm-3">
                                                    @{
                                                        if (registration.ExServiceMan == true)
                                                        {
                                                            <strong>Yes</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong>No</strong>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel -->
                        <div class="container">
                        </div>
                    </div><!-- /.content-body -->
                    <!-- Template Setups -->
                    <div class="modal fade" id="templateSetup">
                        <div class="modal-dialog">
                            <!-- modal-content -->
                            <div class="modal-content"></div>
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.templateSetup -->
                </div><!-- /.content -->
            </div>
        </section>
    }
    else
    {
        <section class="content-wrapper" role="main">
            <div class="content">
                No Detail found
            </div>
        </section>
    }

}

