@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<Slider>
<form action="Slider" method="post" enctype="multipart/form-data">
    <input type="hidden" id="hiddenId" name="Id" />
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Slider</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Slider Detail</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group mt-lg">
                                                        <label class="col-sm-2 control-label">Slider Name</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group input-group-icon">
                                                                <input type="text" id="SliderName" name="SliderName" class="form-control" placeholder="Slider Name"/>
                                                                <span class="input-group-addon">
                                                                    <span class="icon"><i class="fa fa-image"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Caption 1</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="Caption1" name="Caption1" class="form-control" placeholder="Caption 1" />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-align-justify"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Caption 2</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="Caption2" name="Caption2" class="form-control" placeholder="Caption 2" />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-align-justify"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Caption Author</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="CaptionAuthor" name="CaptionAuthor" class="form-control" placeholder="Caption Author" />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-align-justify"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Order No</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="number" id="OrderNumber" name="OrderNumber" class="form-control" placeholder="Order Number" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Slider Image</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="file" name="SliderFile" id="SliderFile" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Is Active</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="checkbox" name="IsActive" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-5">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="~/Admin/slider" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="panel" data-fill-color="true">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th colspan="9">Slider View Detail</th>
                                            </tr>
                                            <tr class="active">
                                                <th style="width:2%">Sl.no</th>
                                                <th style="width:15%">Slider Name</th>
                                                <th style="width:15%">Caption 1</th>
                                                <th style="width:15%">Caption 2</th>
                                                <th style="width:10%">Caption Author</th>
                                                <th style="width:10%">IsActive</th>
                                                <th style="width:3%">OrderNumber</th>
                                                <th style="width:10%">Slider Image</th>
                                                <th style="width:20%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var slider in Model)
                                                {
                                                    <tr>
                                                        <td style="width:2%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@i.</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:15%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.SliderName</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:15%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.Caption1</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:15%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.Caption2</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.CaptionAuthor</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.IsActive</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:3%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">@slider.OrderNumber</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline">
                                                                        @{
                                                                            var base64 = Convert.ToBase64String(slider.SliderImage);
                                                                            var imgsrc = string.Format("data:image/jpg; base64, {0}", base64);
                                                                            <img src="@imgsrc" alt="Image Slider" class="img-responsive" style="height:100px; width:100px;" />
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:20%">
                                                            <div class="form-group mt-lg">
                                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                                    <a id="lnkEdit" class="btn btn-primary" href="#" onclick="javascript:EditSlider(@slider.Id, '@slider.SliderName', '@slider.Caption1', '@slider.Caption2', '@slider.CaptionAuthor', '@(slider.IsActive == true ? 1 : 0)', '@slider.OrderNumber', '@imgsrc')">Edit</a>
                                                                    <span class="label-divider" id="Span1">or</span>
                                                                    <a id="lnkDelete" class="btn btn-danger" href="DeleteSlider/@slider.Id" >Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    i = i + 1;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel -->
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>
<script type="text/javascript">
    function RemoveFile() {
        $('#SliderFile').parent().find('a').remove();
        $('#SliderFile').removeClass('hidden');
        $('#SliderFile').attr('required');
        return false;
    }


    function EditSlider(Id, SliderName, Caption1, Caption2, CaptionAuthor, IsActive, OrderNumber, imgsrc) {
        $('#SliderFile').parent().find('a').remove();
        $('#hiddenId').val(Id);
        $('#btnSave').val('Update');
        $('#SliderName').val(SliderName);
        $('#Caption1').val(Caption1);
        $('#Caption2').val(Caption2);
        $('#CaptionAuthor').val(CaptionAuthor);
        $('[name=IsActive]').prop('checked', IsActive == 1 ? true : false);
        $('#OrderNumber').val(OrderNumber);
        $('#SliderFile').addClass('hidden');
        $('#SliderFile').removeAttr('required');

        var html = "<a><img src='" + imgsrc + "' alt='Key Functionaries Image' class='img-responsive galimg' style='height:100px;width:100px;'/></a><a href='javascript:void(0)' onclick='javascript:return RemoveFile()' style='padding-left:7px; color:red;'>X</a>";
        $(html).insertAfter('#SliderFile');
    }
</script>
