@using DataLayer;
@using UptronWeb.Models;
@using UptronWeb.Models.Common;
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SliderModel>
<style>
    .overlayInfo > h4 {
        cursor: pointer;
    }
</style>
<!-- MAIN SLIDER -->
<section class="home5_revolution_slider">
    <div class="tp-banner-container rev_slider_wrapper fullwidthbanner-container">
        <div class="tp-banner-slider">
            <ul id="SliderDIV">
                @{
                    var sliderList = ViewData["Slider"] as List<SliderModel>;
                    if (sliderList.Any())
                    {
                        foreach (var slider in sliderList)
                        {
                            <li data-index="rs-82" data-transition="random-premium"
                                data-slotamount="7" data-masterspeed="500"
                                data-saveperformance="on">
                                <img src="@slider.SliderImage" alt="@slider.SliderName" class="img-responsive" />
                                @*<img src="~/img/home/home-slider-2.jpg">*@

                                <div class="tp-caption tp-resizeme sfb"
                                     data-x="350"
                                     data-y="50"
                                     data-speed="800"
                                     data-start="1000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6; text-align:center;color: #fff; font-size: 40px; font-family: Montserrat;letter-spacing: 3px;font-weight: 700;">
                                    @slider.SliderName
                                </div>

                                <div class="tp-caption mediumlarge_light_white_center customin customout start hidden-xs"
                                     data-x="440"
                                     data-hoffset="0"
                                     data-y="95"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300"
                                     style="z-index:7; color: #fff; font-size: 26px;font-family: Noto Sans; letter-spacing: 1px; ">
                                    @slider.Caption1
                                </div>

                                <div class="tp-caption mediumlarge_light_white_center customin customout start hidden-xs"
                                     data-x="580"
                                     data-hoffset="0"
                                     data-y="125"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300"
                                     style="z-index:7; color: #fff; font-size: 26px; font-family: Noto Sans; letter-spacing: 1px; ">
                                    @slider.Caption2
                                </div>

                                <div class="tp-caption mediumlarge_light_white_center customin customout start hidden-xs"
                                     data-x="590"
                                     data-hoffset="0"
                                     data-y="165"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300"
                                     style="z-index:7; color: #fff; font-size: 25px; font-weight:600; font-family: Noto Sans; letter-spacing: 1px;font-style: italic; ">
                                    @slider.CaptionAuthor
                                </div>

                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</section>

<div class="service1-area">
    <div class="service1-inner-area">
        <div class="container">
            <div class="row service1-wrapper">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-lg-offset-3 col-sm-offset-3 service-box1">
                    <div class="service-box-content">
                        <h3><a href="#">News & Updates</a></h3>
                        <marquee id="newsUpdateMarquee" behavior="scroll" width="100%" height="90" onMouseOver="this.setAttribute('scrollamount', 0, 0);this.stop();" OnMouseOut="this.setAttribute('scrollamount', 2, 0);this.start();" direction="up" scrollamount="1" scrolldelay="5">
                        </marquee>
                    </div>
                    <div class="service-box-icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service-box1">
                    <div class="service-box-content">
                        <h3><a href="#">Upcoming Events</a></h3>
                        <marquee id="UpcomingEventsMarquee" behavior="scroll" width:100%; height="90" onMouseOver="this.setAttribute('scrollamount', 0, 0);this.stop();" OnMouseOut="this.setAttribute('scrollamount', 2, 0);this.start();" direction="up" scrollamount="1" scrolldelay="5" ;>
                            @*<div class="border">
                                    <p><img src="~/img/NewIcon.gif" />&nbsp;&nbsp;<a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<img src="~/img/readmore.jpg" /></a></p>
                                </div>*@
                        </marquee>
                    </div>
                    <div class="service-box-icon">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service-box1">
                    <div class="service-box-content">
                        <h3><a href="javascript:void(0)">Tenders</a></h3>
                        <p>
                            <a href="https://etender.up.nic.in/nicgep/app?component=%24DirectLink&page=FrontEndTendersByOrganisation&service=direct&session=T&sp=SQwS1ZHMBHOToDzkLBeDF%2FQ%3D%3D" target="_blank">
                                E-Tender Uttar Praesh
                            </a><hr />
                            <a href="/Home/AboutUS_Tender" target="_blank">
                                UPL Tenders
                            </a>
                        </p>
                    </div>
                    <div class="service-box-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix varietySection">
    <div class="container">
        <!--<h1 style="text-align: center; color: #ec5598; font-family: French Script MT; text-transform: none; font-size:50px;  margin-top:50px" ;>Our Services</h1>-->

        <div class="timeLine">
            <div class="row">
                <div class="col-lg-8">
                    <div class="secotionTitle">
                        <h2 class="bg">Our Services</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                        <div class="caption">
                            <div class="star center-block">
                                <span class="h3">01</span>
                                <!--<span>Event </span>
                                <span>Mana</span>-->
                            </div>
                            <div class="image">
                                <img src="~/img/software.jpg" class="img-responsive" href="#" />
                                <div class="title">
                                    <h2>Software Development <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                                </div>
                            </div>
                            <div class="textContent">
                                <p class="lead"> Software development is the process of designing, programming, testing, and bug fixing.<!--<small>Read More..</small>--></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                        <div class="caption">
                            <div class="star center-block">
                                <span class="h3">02</span>
                                <!--<span>Sep</span>
                                <span>2007</span>-->
                            </div>
                            <div class="image">
                                <img src="~/img/solar.jpg" class="img-responsive" href="#" />
                                <div class="title">
                                    <h2>Solar Power System <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                                </div>
                            </div>
                            <div class="textContent">
                                <p class="lead">Solar energy is radiant light and heat from the Sun that is using a range of ever-evolving technologies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                        <div class="caption">
                            <div class="star center-block">
                                <span class="h3">03</span>
                                <!--<span>Aug</span>
                                <span>2011</span>-->
                            </div>
                            <div class="image">
                                <img src="~/img/education.jpg" class="img-responsive" href="#" />
                                <div class="title">
                                    <h2>Education & Training <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                                </div>
                            </div>
                            <div class="textContent">
                                <p class="lead">Training is a program that helps employees learn specific knowledge or skills to improve performance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                        <div class="caption">
                            <div class="star center-block">
                                <span class="h3">04</span>
                                <!--<span>May</span>
                                <span>2012</span>-->
                            </div>
                            <div class="image">
                                <img src="~/img/officeparty.jpg" class="img-responsive" />
                                <div class="title">
                                    <h2>Administration <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                                </div>
                            </div>
                            <div class="textContent">
                                <p class="lead">Office administration is a set of day-to-day activities that are related to financial planning.</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-6" style="margin:30px 10px;"><a href="#" class="btn btn-primary first-btn">More Services <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                </div>
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-4">
                    <div class="secotionTitle">
                        <h2 class="bg" id="H1">Key Functionaries</h2>
                    </div>
                    <div class="tabbable tabTop" id="keyfunctionariesDiv">
                        @*<div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12  br-bottom">
                                    <div class="col-md-4 col-sm-4">
                                        <span class="photo" style="margin-left: -15px;">
                                            <img src="~/img/yogiji.jpg" alt="" class="Shri Yogi Adityanath" />
                                        </span>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="key_title">
                                            <h3> Shri Yogi Adityanath</h3>
                                            <p>
                                                Hon'ble Chief Minister,<br /> Uttar Pradesh
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4">
                                        <span class="photo" style="margin-left: -15px;">
                                            <img src="~/img/dinesh.jpg" alt="" class="Shri Dinesh Sharma" />
                                        </span>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="key_title">
                                            <h3>Shri Dinesh Sharma</h3>
                                            <p>
                                                Hon’ble Deputy Chief Minister & Minister of IT & Electronics, <br> Uttar Pradesh
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="tabbable tabTop">
                        <section class="clearfix reviewSection patternbg">
                            <div class="secotionTitle">
                                <h2 class="bg" id="H2">Director’s Message</h2>
                            </div>
                            <div class="container">

                                <div class="row">
                                    <div class="col-lg-4 reviewInner" id="divDirectorMessage">
                                        @*<div class="col-xs-3">
                                                <div class="reviewImage">
                                                    <img src="~/img/rakesh.jpg" alt="Dr. Rakesh Varma" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="reviewInfo">
                                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                                    <p>I take this opportunity to thank our valued customers, whose continued patronage and confidence in our products inspires us to extend the best of our services.</p>
                                                    <h3>Dr. Rakesh Varma</h3>
                                                    <h4>Managing Director</h4>
                                                    <a href="#" style="color:#337ab7">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Timeline SECTION -->
<!-- WHY UPTRON SECTION -->
<section class="why-omninet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Why Uptron</h2>
                <p> <!--9001:2008 --->One of the Leading provider in the  state of art products in the field of IT and Electronics.  Specially Hardware, Software, Manpower Supply, Solar, LED and Surveillance System and Training to the Govt. Institutions.</p>
            </div>
        </div>
        <div class="row" id="divWhyUptron">
        </div>
    </div>
</section>
<!-- END WHY UPTRON SECTION -->
<!-- MAJOR Projects SECTION -->
<section class="clearfix productSection">
    <div class="container">
        <div class="secotionTitle col-lg-12">
            <h2 class="bg">Our Services</h2>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="serviceSlider" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            var serviceList = ViewData["ServiceSlider"] as List<ServiceModel>;
                            if (serviceList.Any())
                            {
                                int lengthPartner = serviceList.Count;
                                int loopCount = 1;
                                int index = 0;
                                if (lengthPartner > 4)
                                {
                                    loopCount = Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(lengthPartner / 4)));
                                }
                                for (int i = 0; i < loopCount; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            <div class="row">
                                                @for (int j = 0; j < 4; j++)
                                                {
                                                    if (index < lengthPartner)
                                                    {
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="productImage isotopeSelector">
                                                                <figure>
                                                                    <a href="/Home/Services?Id=@serviceList[index].Id"> <img src="@serviceList[index].SliderImage" alt="Image Gallery" class="img-responsive"></a>
                                                                    @*<div class="overlay-background">
                                                                            <div class="inner"></div>
                                                                        </div>*@
                                                                    @*<div class="overlay">
                                                                            <span class="fancybox-pop" style="color:#000;" rel="portfolio-1" href="@serviceList[index].SliderImage">
                                                                                <div class="overlayInfo">
                                                                                    <h4><i class="fa fa-plus" aria-hidden="true"></i> <br></h4>
                                                                                </div>
                                                                            </span>
                                                                        </div>*@
                                                                </figure>
                                                                <div class="event-details bg-white p-20">
                                                                    <h4 class="text-thm pb-5"  style="color:#000;">
                                                                        <a href="/Home/Services?Id=@serviceList[index].Id" style="color:#000;"> @serviceList[index].Name</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        index++;
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="item">
                                            <div class="row">
                                                @for (int j = 0; j < 4; j++)
                                                {
                                                    if (index < lengthPartner)
                                                    {
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="productImage isotopeSelector">
                                                                <figure>
                                                                    <img src="@serviceList[index].SliderImage" alt="Image Gallery" class="img-responsive">
                                                                    <div class="overlay-background">
                                                                        <div class="inner"></div>
                                                                    </div>
                                                                    <div class="overlay">
                                                                        <a class="fancybox-pop" rel="portfolio-1" href="@serviceList[index].SliderImage">
                                                                            <div class="overlayInfo">
                                                                                <h4><i class="fa fa-plus" aria-hidden="true"></i> <br></h4>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </figure>
                                                                <div class="event-details bg-white p-20">
                                                                    <h4 class="text-thm pb-5">
                                                                        <a href="/Home/Services?Id=@serviceList[index].Id" style="color:#000;"> @serviceList[index].Name</a>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        index++;
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End MAJOR Projects SECTION -->
<!-- Partner Section -->
@{
    Html.RenderPartial("_Partner");
}

<!-- Footer Section -->
@{
    Html.RenderPartial("_Footer");
}

<script src="~/Scripts/App/General/HomeWeb.js"></script>