@using DataLayer
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
@model JobRegistration

<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-hero content-hero-lg">
            <img class="content-hero-embed" src="../images/dummy/people4.jpg" alt="cover">
            <div class="content-hero-overlay bg-grd-blue"></div>
            <div class="content-hero-body">
            </div>
            <div class="content-hero-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="float-bar clearfix">
                            <div class="float-bar-brand">
                                <a class="kit-avatar kit-avatar-128 no-padding border-white" href="#">
                                    @{
                                        string imgsrc = "../images/dummy/uifaces22.jpg";
                                        if (Model.ResumeImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(Model.ResumeImage);
                                            imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                        }
                                    }
                                    <img alt="cover" src="@imgsrc">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <div class="visible-xs">
                                    <h2 class="display-name media-heading text-teal"><i class="fa fa-user"></i>@Model.Name</h2>
                                    <p class="text-muted mb-4x"><span class="mr-2x"><i class="fa fa-envelope"></i>@Model.EmailId</span> <span><i class="fa fa-mobile"></i> @Model.MobileNo</span></p>
                                </div>
                                <div class="hidden-xs">
                                    <h1 class="media-heading text-light">@Model.Name</h1>
                                    <p class="mb-4x text-light"><span class="mr-2x"><i class="fa fa-envelope"></i>@Model.EmailId</span> <span><i class="fa fa fa-mobile"></i> @Model.MobileNo</span></p>
                                </div>
                            </div><!-- /.media-body -->
                        </div><!-- /.float-bar -->
                    </div><!-- /.cols -->

                    <div class="col-lg-12">
                        <h4 class="text-muted"><a href="#" aria-label="home"><i class="fa fa-home"></i></a> Employee Profile</h4>
                    </div><!-- /.cols -->

                </div><!-- /.row -->
            </div><!-- /.content-hero-bar -->
        </div><!-- /.content-hero -->
        <div class="content-body">

            <!-- ============================================
            LATEST POSTS LIST
            =============================================== -->
            <div class="panel" data-fill-color="true">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="white-space:nowrap">
                                            <thead>
                                                <tr class="bg-primary">
                                                    <th colspan="5">Employee Details</th>
                                                    <th style="text-align:right;"><button type="button" class="btn btn-default btn-bordered mb-1x mr-1x">Add New</button></th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><label control-label">Full Name</label></td>
                                                    <td><span class="headline"><strong>@Model.Name</strong></span></td>

                                                    <td><label control-label">Father Name</label></td>
                                                    <td><span class="headline"><strong>@Model.FatherName</strong></span></td>

                                                    <td><label control-label">Mother Name</label></td>
                                                    <td><span class="headline"><strong>@Model.MotherName</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Date of Birth</label></td>
                                                    <td><span class="headline"><strong>@Model.DOB.Value.ToString("dd/MM/yyyy")</strong></span></td>

                                                    <td><label control-label">Gender</label></td>
                                                    <td><span class="headline"><strong>@Model.Gender</strong></span></td>

                                                    <td><label control-label">Marital Status</label></td>
                                                    <td><span class="headline"><strong>@Model.MaritalStatus</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Religion</label></td>
                                                    <td><span class="headline"><strong>@Model.Religion</strong></span></td>

                                                    <td><label control-label">Identity Details</label></td>
                                                    <td><span class="headline"><strong>@Model.IdentityType</strong></span></td>

                                                    <td><label control-label">Identity Number</label></td>
                                                    <td><span class="headline"><strong>@Model.IdentityNo</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Mobile No</label></td>
                                                    <td><span class="headline"><strong>@Model.MobileNo</strong></span></td>

                                                    <td><label control-label">Alternate No</label></td>
                                                    <td><span class="headline"><strong>@Model.AlternateNo</strong></span></td>

                                                    <td><label control-label">Email Id</label></td>
                                                    <td><span class="headline"><strong>@Model.EmailId</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Pin Code</label></td>
                                                    <td><span class="headline"><strong>@Model.Pincode</strong></span></td>

                                                    <td><label control-label">State Name</label></td>
                                                    <td><span class="headline"><strong>@Model.State.StateName</strong></span></td>

                                                    <td><label control-label">City Name</label></td>
                                                    <td><span class="headline"><strong>@Model.City.CityName</strong></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="5">Qualification (Please Enter Highest to Lowest Qualification)</th>
                                            <th style="text-align:right;"><button type="button" class="btn btn-default btn-bordered mb-1x mr-1x">Add New</button></th>
                                        </tr>
                                        <tr class="active">
                                            <th>Qualification</th>
                                            <th>Board/Institute/University</th>
                                            <th>Years Of Passing</th>
                                            <th>% Marks</th>
                                            <th>Specialization</th>
                                            <th>Course type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.JobRegistrationQualifications.Count > 0)
                                            {
                                                foreach (var qualification in Model.JobRegistrationQualifications)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.Qualification</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.Board</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.YearOfPassing</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.Marks</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.Specialization</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@qualification.CourseType</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6">
                                                        No Qualification added
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="5">Present Employment Status</th>
                                            <th style="text-align:right;"><button type="button" class="btn btn-default btn-bordered mb-1x mr-1x">Add New</button></th>
                                        </tr>
                                        <tr class="active">
                                            <th>Name Of Organization</th>
                                            <th>Post Held</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Industry type</th>
                                            <th>Salary Drawn(PM)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.JobRegistrationEmployements.Count > 0)
                                            {
                                                foreach (var employement in Model.JobRegistrationEmployements)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@employement.OrganizationName</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@employement.Post</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group mt-lg">
                                                                        <span class="headline"><strong>@employement.FromMonth</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group mt-lg">
                                                                        <span class="headline"><strong>@employement.FromYear</strong></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group mt-lg">
                                                                        <span class="headline"><strong>@employement.ToMonth</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group mt-lg">
                                                                        <span class="headline"><strong>@employement.ToYear</strong></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <span class="headline"><strong>@employement.IndustryType</strong></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline"><strong>@employement.Salary</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6">
                                                        No Employement detail added
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="white-space:nowrap">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="5">Employee Skill</th>
                                            <th style="text-align:right;"><button type="button" class="btn btn-default btn-bordered mb-1x mr-1x">Add New</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label control-label">Language Known</label></td>
                                            <td>
                                                <span class="headline">
                                                    <strong>
                                                        @if (Model.JobRegistrationLanguages.Any())
                                                        {
                                                            string lan = string.Empty;
                                                            foreach (var languages in Model.JobRegistrationLanguages)
                                                            {
                                                                lan += languages.Language + ", ";
                                                            }
                                                            lan = lan.Substring(0, lan.Length - 2);
                                                            <strong>@lan</strong>
                                                        }
                                                        else
                                                        {
                                                            <span>No Language added</span>
                                                        }
                                                    </strong>
                                                </span>
                                            </td>

                                            <td><label control-label">Skill Information</label></td>
                                            <td>
                                                <span class="headline">
                                                    <strong>
                                                        @if (Model.JobRegistrationSkills.Any())
                                                        {
                                                            string skl = string.Empty;
                                                            foreach (var skill in Model.JobRegistrationSkills)
                                                            {
                                                                skl += @skill.Skill + ", ";
                                                            }
                                                            skl = skl.Substring(0, skl.Length - 2);
                                                            <strong>@skl</strong>
                                                        }
                                                        else
                                                        {
                                                            <span>No Skill added</span>
                                                        }
                                                    </strong>
                                                </span>
                                            </td>

                                            <td><label control-label">Experience in Works</label></td>
                                            <td><span class="headline"><strong>@Model.Experience</strong></span></td>
                                        </tr>
                                        <tr>
                                            <td><label control-label">Are you Person with disabilities</label></td>
                                            <td>
                                                <span class="headline">
                                                    <strong>
                                                        @{
                                                            if (Model.Disability == true)
                                                            {
                                                                <span>Yes</span>
                                                            }
                                                            else
                                                            {
                                                                <strong>No</strong>
                                                            }
                                                        }
                                                    </strong>
                                                </span>
                                            </td>

                                            <td><label control-label">Are You Ex-Serviceman</label></td>
                                            <td>
                                                <span class="headline">
                                                    <strong>
                                                        @{
                                                            if (Model.ExServiceMan == true)
                                                            {
                                                                <strong>Yes</strong>
                                                            }
                                                            else
                                                            {
                                                                <strong>No</strong>
                                                            }
                                                        }
                                                    </strong>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="container">
                </div>
            </div><!-- /.content-body -->
            <!-- Template Setups -->
            <div class="modal fade" id="templateSetup">
                <div class="modal-dialog">
                    <!-- modal-content -->
                    <div class="modal-content"></div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.templateSetup -->
        </div><!-- /.content -->
    </div>
</section>
